/* theme 1 */
[data-theme=theme1] {
    background-color: var(--theme1-main-background-dark-desaturated-blue);
  }
  /* theme 2 */
[data-theme=theme2] {
    background-color: var(--theme2-main-background-light-gray);
  }
  /* theme 3 */
[data-theme=theme3] {
    background-color: var(--theme3-main-background-dark-violet);
  }

.app-wrapper {
  padding-top: 98px;
  height: 100%;
 
}

.app{
    width: 540px;
     height: 100px;
    margin:  auto;
    background-color: pink;
}